.datepicker {
    .prev {
        .icon-arrow-left {
            &::before {
                content: '\f060';
                font-family: $font-awesome;
                font-weight: 900;
                color: $primary;
            }
        }
    }

    .next {
        .icon-arrow-right {
            &::before {
                content: '\f061';
                font-family: $font-awesome;
                font-weight: 900;
                color: $primary;
            }
        }
    }

    &-switch {
        font-weight: 500;
        border-radius: 25px !important;
        color: $primary;
    }

    .dow {
        font-weight: 500;
    }

    td, th {
        border-radius: 50%;
    }
    .active {
        background-color: $primary !important;
        background-image: none !important;
        border-color: $primary !important;
    }
}