.main-content {
  display: block;
  position: relative;
  overflow: hidden;
  flex: 1 auto;

  .content-title {
    margin: 1rem 0;
  }

  .content-wrap {
    font-weight: 300;

    .text-title {
      margin: 2rem auto;
    }

    .text-description {
      margin-bottom: 2rem;
    }
  }
}

.item {
  margin-bottom: 1rem;

  .item-title {
    color: $primary;
    font-size: $font-md;
    font-weight: 400;
  }

  .item-content {
    color: $light-content;
    font-size: $font-sm;
    font-weight: 300;
  }

  .item-places {
    font-size: $font-sm;
    font-weight: 300;
  }

  .item-rounded {
    border-radius: 0.313rem;
    overflow: hidden;
  }

  .item-shadow {
    box-shadow: 0 2px 6px 0 rgba(188, 188, 188, 0.3);
  }
}

.head-title {
  margin: 1.25rem 0;
  color: #242126;
  font-size: $font-xl;

  &-underline {
    color: $primary;
    text-transform: uppercase;
    text-align: center;
    font-size: $font-xl;
    font-weight: normal;

    &::after {
      content: ' ';
      display: table;
      margin: auto;
      width: 30px;
      height: 4px;
      background: $secondary;
    }
  }
}

.item-all-restaurants {
  @media (min-width: 768px) {
    margin-right: -1.25rem !important;
    margin-left: -1.25rem !important;

    [class*='col-'],
    .col {
      padding-right: 1.25rem !important;
      padding-left: 1.25rem !important;
    }
  }

  .item {
    background: white;
  }

  .item-image {
    display: block;
    height: 145px;
    padding: 0.875rem;
  }
}

.breadcrumb {
  margin: 0;
  background-color: transparent;
  padding-left: 0;

  .breadcrumb-item {
    color: $light-content;
    font-size: 0.875rem;

    a {
      color: $light-content;
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &.active {
      color: $primary;

      a {
        color: $primary;
      }
    }

    & + .breadcrumb-item::before {
      content: '\f0da';
      font-family: $font-awesome;
      font-weight: 900;
      color: $secondary;
    }
  }
}

//home
.item-restaurants {
  .item-image {
    margin-bottom: 0.5rem;
    position: relative;
  }

  .item-duration {
    position: absolute;
    right: 0.313rem;
    bottom: 0.313rem;
    background: rgba($primary, 0.9);
    border-radius: 4px;
    padding: 0.125rem 0.313rem;
    font-size: $font-sm;
    color: $secondary;

    .icon-wrap {
      font-size: $font-sm;
    }

    .duration-time {
      color: white;
    }
  }
}

.section {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;

  &-title {
    margin-bottom: 0.625rem;

    @include flex-box(row wrap, space-between, center, initial);

    .title {
      color: #0abaee;
      font-size: $font-xl;

      @media (min-width: 768px) {
        font-size: $font-head;
      }
    }

    .view-all {
      color: $content;
      text-decoration: underline;
      font-size: $font-xs;

      @media (min-width: 768px) {
        font-size: $font-sm;
      }

      a {
        color: $content;

        @extend %transition;
        @include text-hover($secondary, none);
      }
    }
  }

  .main-title {
    color: $dark;
    margin-bottom: 1rem;
    font-size: $font-lg;
  }

  .slide-wrap {
    @media (max-width: 767px) {
      margin-right: -1rem;
      margin-left: -1rem;

      .slick-list {
        padding-left: 1rem !important;
      }
    }
  }

  &.popular-restaurants {
    box-shadow: 0 0 0.625rem 0 rgba(gray, 0.4);

    .item {
      margin-bottom: $item-mb;
      padding-left: 0.3rem;
      padding-right: 0.3rem;

      @include flex-box(initial, center, center, initial);

      @media (min-width: 992px) {
        padding-left: 0.8rem;
        padding-right: 0.8rem;
      }

      &-image {
        border-radius: 50%;
        border: 0.313rem solid $item-border;
        overflow: hidden;
        transition: border 0.3s ease-in-out;
      }
    }

    @media (max-width: 767px) {
      .item-wrap {
        padding-left: 5px;
        padding-right: 5px;
      }

      .item-popular-restaurants {
        .item {
          padding: 0;
        }
      }
    }
  }

  &.weekly-picks {
    background: $primary;

    .weekly-slide {
      margin-bottom: 0;

      .slick-dots {
        position: relative;
        bottom: -0.625rem;
      }

      .item {
        display: table;
        margin: auto;
      }

      .item-image {
        overflow: hidden;
        margin-bottom: $item-mb;
        border-radius: 0.313rem;

        img {
          border-radius: 0.313rem;
        }
      }
    }
  }

  &.top-categories {
    .item-categories {
      .item {
        text-align: center;
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        @media (min-width: 768px) {
          flex: 0 0 12.5%;
          max-width: 12.5%;
          display: none;

          &:nth-child(-n + 8) {
            display: block;
          }
        }

        &-image {
          width: 75px;
          height: 75px;
          border-radius: $border-rounded;
          margin: auto;

          @include flex-box(initial, center, center, initial);

          @media (max-width: 991px) {
            width: auto;
            height: 50px;

            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }

  &.deals-privileges {
    .item-deals {
      .item {
        margin-bottom: 0;
      }

      .item-image {
        display: block;
        //border-radius: 0.313rem;
        overflow: hidden;
        box-shadow: 0 2px 6px 0 rgba(188, 188, 188, 0.3);
      }
    }
  }

  &.advertisement {
    background: $primary;

    .item-ads {
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }
}

.section-member {
  font-size: 0.875rem;

  .icon-wrap {
    margin: 2rem auto;
  }

  .btn-style {
    margin-bottom: 2rem;
  }
}

.section-categories {
  .item {
    position: relative;

    .item-link {
      color: white;
      text-decoration: none;
    }

    .item-content {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(black, 0.5);
      color: white;

      @include flex-box(column wrap, center, center, initial);

      .item-title {
        color: white;
      }
    }
  }
}

.section-checkout {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.point-balance-sticky {
  @include flex-style(flex-end, center);

  @media (min-width: 768px) {
    margin-bottom: -40px;
    padding-right: 1rem;
  }

  .point-balance {
    background: $primary;
    padding: 0.5rem 1rem;
    color: white;
    display: table;
    font-size: $font-md;
    border-radius: 0 0 0.8rem 0.8rem;

    .point {
      color: $secondary;
      font-size: $font-lg;
      font-weight: 400;
    }
  }
}

.deals-privileges-list,
.promotions-list {
  .filter-item {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    flex-direction: column;
    flex: 1;

    .item-image {
      position: relative;
    }

    .badge {
      font-size: $font-md;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0.313rem 0 0;
    }

    .item-content {
      @extend .item-shadow;
      background-image: url('../img/101-delivery/circle-1.svg');
      border-radius: 0.313rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .item-detail-wrap {
      &::after {
        content: ' ';
        display: block;
        width: 100%;
        height: 10px;
        background: url('../img/101-delivery/circle-1.svg') repeat-x;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));
        position: relative;
        z-index: 1;
      }
    }

    .item-detail {
      background: white;
      padding: 0.65rem 0.5rem 0.75rem 0.5rem;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      flex: 1;

      @media (min-width: 768px) {
        height: 110px;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .title {
        &-wrap {
          flex: 1;
        }

        color: $primary;
        font-size: $font-lg;
        font-weight: 500;
        margin-bottom: 0.313rem;
        line-height: 1.3;
    
        @extend %line-clamp-2;

        @media (min-width: 768px) {
          font-size: 1.25rem;
        }

        a,
        .item-link {
          color: $primary;
          text-decoration: none;
        }
      }

      .details {
        @include flex-style(space-between, center);
      }

      .condition {
        color: $secondary;
        font-size: $font-md;
        font-weight: 500;
        word-break: break-word;
        line-height: 1.1;
      }

      .expired-date {
        color: $light-content;
        font-size: $font-sm;
        font-weight: 300;
        text-align: right;
        word-break: break-word;
        line-height: 1.1;
      }

      .special-price {
        color: $secondary;
        font-size: $font-lg;
        font-weight: 500;
        flex: 1;
        line-height: 1.1;
        margin-bottom: 0.313rem;
        word-break: break-word;

        @media (min-width: 768px) {
          font-size: 1.375rem;
        }
      }

      .normal-price {
        color: $content;
        font-size: $font-sm;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        line-height: 1.1;

        @media (min-width: 768px) {
          font-size: $font-md;
        }

        .price {
          position: relative;
          display: table;
          margin: 0 3px;

          &::after {
            content: ' ';
            position: absolute;
            left: 2px;
            right: 2px;
            height: 1px;
            background: red;
            top: 50%;
            transform: rotate(-14deg);
          }
        }
      }
    }
  }
}

.deals-privileges-confirm {
  padding: 1.875rem 0;

  .box-wrap {
    max-width: 500px;
  }

  .section-title {
    @include flex-style(center, center);

    color: $primary;
    font-size: $font-head;
    font-weight: 500;
  }

  .product-title {
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed $form-border;
    margin-bottom: 1rem;

    .title {
      color: $dark;
      font-size: $font-lg;
      @extend %line-clamp-2;
    }
  }

  .point-summarize {
    .title {
      color: $primary;
      font-size: $font-lg;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 1rem;
    }

    .detail {
      font-size: $font-md;
    }

    .point-balance {
      .point {
        color: $secondary;
        font-size: $font-lg;
        font-weight: 500;
      }
    }
  }

  .point-note {
    border-radius: 10px;
    border: 3px solid #f28121;
    padding: 0.5rem;
    margin: 1rem auto;
    font-size: $font-md;

    @media (min-width: 768px) {
      padding: 1rem;
    }

    .title {
      color: $primary;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  }

  .code-wrap {
    @include flex-style(center, center);
    flex-direction: column;
  }

  .qrcode-wrap {
    max-width: 165px;
    max-height: 165px;
    width: 165px;
    height: 165px;
    padding: 0.5rem;
    border: 3px solid $light-blue;
    border-radius: 0.313rem;
  }

  .promotion-code {
    background-color: #e9eff1;
    border-radius: 0.313rem;
    color: $secondary;
    padding: 0.5rem 1rem;
    min-width: 300px;
    text-align: center;

    .code {
      text-transform: uppercase;
      font-size: $font-xl;
      font-weight: 500;
    }
  }

  .code-expired {
    text-align: center;
    padding: 1rem;
    font-size: $font-lg;
  }

  .button-group {
    @include flex-style(space-between, center);

    @media (max-width: 575px) {
      flex-direction: column;
    }

    form {
      width: 100%;
    }

    .btn {
      padding-left: 1rem;
      padding-right: 1rem;

      &-confirmed {
        @media (max-width: 575px) {
          margin-right: 0 !important;
          margin-bottom: 1rem !important;
        }
      }
    }

    .btn-cancle {
      padding-left: 1.2em;
      padding-right: 1.2rem;

      @media (min-width: 575px) {
        width: auto;
        min-width: 100px;
        margin-left: 2rem !important;
      }
    }
  }
}

.filter-menu {
  border-bottom: 1px solid $form-border;
  display: flex;

  .filter-menu-filter-btn-active,
  .filter-menu-control-active {
    color: $primary !important;

    &::after {
      right: 0 !important;
      background: $secondary !important;
    }
  }

  .nav-item {
    padding: 0 2rem;
    display: flex;
    word-break: break-word;

    @media (max-width: 767px) {
      flex: 1;
      padding: 0 0.5rem;
    }
  }

  .nav-link {
    color: $light-content;
    font-size: $font-md;
    padding: 1rem 0;
    position: relative;
    flex: 1;
    text-align: center;

    @media (min-width: 768px) {
      font-size: $font-lg;
    }

    &::after {
      content: ' ';
      position: absolute;
      left: 0;
      right: 100%;
      bottom: 0;
      height: 4px;
      background: transparent;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: $primary;

      &::after {
        background: $secondary;
        right: 0;
      }
    }

    &.active {
      &::after {
        background: $secondary !important;
      }
    }
  }
}

.voucher-saved {
  .title {
    color: $primary;
    font-size: $font-lg;
    font-weight: 400;
    text-transform: uppercase;

    &::after {
      content: ' ';
      display: table;
      margin: auto;
      width: 30px;
      height: 3px;
      background-color: $secondary;
    }
  }

  .current-points {
    .label {
      color: $dark;
      font-size: $font-md;
      font-weight: 400;
      text-transform: uppercase;
    }
    .points {
      font-size: 2.2rem;
      font-weight: 500;
      color: $secondary;
    }
  }
}

.view-sort {
  .text-label {
    color: #a0a0a0;
    text-transform: uppercase;
    font-size: $font-xs;
  }

  .dropdown-toggle {
    color: $primary;
    text-decoration: none;
    font-size: 1rem;
  }

  .dropdown-menu {
    min-width: auto;
    margin-top: 0.313rem;

    @extend %dropdown-style;
  }
}

//Footer
.footer {
  &-banner {
    display: flex;
    justify-content: center;

    .banner-image {
      @media (min-width: 992px) {
        position: relative;
        left: 87px;
        bottom: 0.625rem;
      }
    }
  }

  &-content {
    background: $primary;
    color: white;

    @include flex-box(column wrap, center, center, initial);
  }

  &-links {
    padding: 2rem 0;
    text-align: center;

    .item-group {
      .item-link {
        color: white;
        font-size: $font-sm;
        font-weight: 300;
        padding-left: 0.5rem;
        padding-right: 0.8rem;

        @include text-hover($secondary, none);

        &:not(:last-child) {
          border-right: 0.063rem solid white;
        }
      }
    }
  }

  &-copyright {
    padding: 1rem;
    text-align: center;
    font-size: $font-xs;
    font-weight: 300;
  }
}

.coming-soon {
  @include flex-style(center, center);

  background: $primary url('../img/101-delivery/tdp-bg.jpg') top center/cover
    no-repeat;
  flex: 1;
  flex-direction: column;
  padding: 1.5rem;

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($primary, 0.9);
  }

  .content-wrap {
    background: white;
    box-shadow: 0 0 20px -5px rgba(black, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    position: relative;
    z-index: 10;
    width: 100%;

    @media (min-width: 768px) {
      max-width: 600px;
      padding: 3rem;
    }

    .logo-wrap {
      @include flex-style(center, center);
      margin-bottom: 1rem;

      .logo {
        align-self: center;
      }
    }
  }

  .title {
    color: $primary;
    font-family: $font-gotham;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.3;

    @media (min-width: 768px) {
      font-size: 6rem;
    }

    &::after {
      content: '\f141';
      font-family: $font-awesome;
      font-size: 1.5rem;
      display: block;
      margin: auto;
      color: $secondary;

      @media (min-width: 768px) {
        font-size: 3rem;
        margin-top: -1rem;
      }
    }
  }

  .text-highlight {
    font-size: 3.6rem;
    color: $secondary;

    @media (min-width: 768px) {
      font-size: 8rem;
    }
  }

  .description {
    color: $light-content;
    font-weight: 300;
    font-family: $font-primary;
  }

  .copy-right {
    @include flex-style(center, center);

    color: white;
    font-size: $font-sm;
    font-weight: 300;
    margin-top: 0;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
  }
}

.search-result {
  .search-box {
    margin: 2rem auto;

    @media (min-width: 768px) {
      max-width: 600px;
    }
    .input-group {
      border-bottom: 1px solid $primary;

      .form-control {
        background-color: white;
        border: 0;
        box-shadow: none;
      }

      .btn img {
        width: 28px;
      }
    }
  }

  .nav-pills {
    border-bottom: 1px solid $form-border;
    justify-content: space-around;

    .nav-item {
      display: flex;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        flex: unset;
        padding: 0 3rem;
      }
    }

    .nav-link {
      font-size: $font-lg;
      font-weight: 400;
      flex: 1;
      padding: 0.5rem 0 1rem 0;
      position: relative;
      word-break: break-word;

      &::after {
        height: 4px;
        width: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  .search-result-detail {
    color: $content;
    font-size: $font-md;
    margin-bottom: 1rem;
  }

  .no-result {
    color: $light-content;
    padding: 2rem;
    text-align: center;

    .icon {
      color: #d5d5d5;
      margin: 2rem auto;
    }
  }
}
